# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\University\Material\Semestrul V\FLCD\Git repo\FLCD-Laboratory\Lab 4\Finite Automata\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
